body {
  background-color: darkgray;
}

.note-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: green;
}

.add-button:hover {
  background-color: rgb(36, 231, 36);
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: rgb(243, 83, 83);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: grey;
  margin-right: 10px;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}